# EditorConfig configuration file (see <http://editorconfig.org/>).

# Indicate that this file is a root-level configuration file:
root = true

# Set properties for all files:
[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Set properties for JavaScript files:
[*.{js,js.txt}]
indent_style = tab

# Set properties for JavaScript ES module files:
[*.{mjs,mjs.txt}]
indent_style = tab

# Set properties for JavaScript CommonJS files:
[*.{cjs,cjs.txt}]
indent_style = tab

# Set properties for JSON files:
[*.{json,json.txt}]
indent_style = space
indent_size = 2

# Set properties for TypeScript files:
[*.ts]
indent_style = tab

# Set properties for HTML files:
[*.{html,html.txt}]
indent_style = tab
tab_width = 2

# Set properties for CSS files:
[*.{css,css.txt}]
indent_style = tab

[*.{mk,mk.txt}]
indent_style = tab

# Set properties for Markdown files:
[*.{md,md.txt}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

# Set properties for `package.json` files:
[package.{json,json.txt}]
indent_style = space
indent_size = 2

# Set properties for `tslint.json` files:
[tslint.json]
indent_style = space
indent_size = 2

# Set properties for `tsconfig.json` files:
[tsconfig.json]
indent_style = space
indent_size = 2

# Set properties for YAML files:
[*.{yml,yml.txt}]
indent_style = space
indent_size = 2
